* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 1rem; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.divider {
  background-color: teal;
  height: 3vw;
}

.border {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: teal;
  border-width: 3vw;
}

.scroll {
  overflow-y: scroll;
}

.maincontainer {
  padding-top: 10px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
